* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}
